/* .header{
    background-color: rgb(206, 203, 203);
    color:black;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type:none;
}

li{
    float:left
}


li a{
    
    display: block;
  padding: 8px;
  margin:20x;
  background-color:lightgrey;
}
h1{
    text-align: center;
    margin: 100px;
}


     */

   
     
     header {
       background-color: lightgrey;
       width: 100%;
       height: 50px;
       padding: 15px;
       text-align: center;
     }
     header img{
        
        float:left;
        width: 50px;
        height: 50px;
                
     }
     h1 {
        color: black;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
     }
     
     header a {
       display: inline-block;
       text-decoration: none;
       color: black;
       font-size: 15px;
       margin: 15 200px 15 200px;
     }
     
     header a:hover {
       text-decoration: underline;
     }


table {
      border-collapse:collapse;
      width: 100%;
      margin:0 auto;
      width: 50%;
      max-width:100%;
      margin-bottom: 199px;
    

    }
    
    th, td {
      border: 1px solid black;
      padding: 10px;
    }
    
    th {
      background-color: lightgrey;
    }
    
    td {
      text-align: center;
      white-space: nowrap;
      
    
    }
    td div.green{
        background-color: rgb(92, 233, 92);
        padding: 10px;
        
    }
    td div.red{
        background-color: red;
        padding: 10px;
        
    }
   
    td.completed{
        background-color: transparent;
        margin: 0 auto;
        padding: 10px;
       text-align: center;
        
    }
    td.pending{
        background-color: red;
        margin: 10px;

    }
    /* td.completed{
        background-color: rgb(70, 226, 70);
        margin:50 ;
        border-radius: 150px;
        width: 50%;
    } */
    footer{
        background-color: lightgrey;
        width: 100%;
        height: 50px;
        padding: 10px;
        text-align: center;
    }